<%- include('../cabecera'); -%>
    <div>
        <input type="text" name="nombre">
        <input type="text" name="sigla">
        <input type="text" name="coso">
    </div>
<%- include('../pie'); -%>